#demo-logins {
  .live-demo {
    font-size: 52px;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .cards {
    width: 300px;
    margin: 20px 50px;
    padding: 42px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(183, 183, 183);

    .card {
      width: 300px;

      h3 {
        font-size: 28px;
        color: black;
      }

      p {
        font-size: 20px;
        color: gray;
      }
    }
  }
}
