.functionName{
    background-color: rgb(242, 238, 238);


h2{
    font-size:64px;
    text-align: center;
  }

  p{
    font-size:24px;
    text-align: center;

  }

  .container{
    .col-3{
    .card{
        display: flex;
        background-color: white;
        color: black;
        width: 250px;
        box-shadow: 1px 2px 2px gray;
        padding: 15px;
        border-radius: 25px;
        margin: 18px 42px;

        span{
            display: inline-block;
            margin-left: 20px;
            margin-top: 6px;
        }
    }
    }
  }

}